* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#canvasWrapper {
  margin-top: 30px;
  width: 970px;
  height: 550px;
  position: relative;
  text-align: right;
}

font-family: 'Roboto', sans-serif;
