* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#canvasWrapper {
  width: 970px;
  height: 550px;
  margin-top: 30px;
  position: relative;
}
#canvasWrapper h1 {
  position: absolute;
  bottom: 125px;
  left: 40px;
  color: white;
  font-family: Roboto;
  font-size: 70px;
}
#canvasWrapper p {
  position: absolute;
  bottom: 40px;
  left: 42px;
  color: white;
  font-family: Roboto;
  font-size: 24px;
}

#canvas {
  border: 5px solid #2a2a2a;
  float: left;
}


font-family: 'Roboto', sans-serif;
